#landing{
	margin-top: 50px;
	margin-bottom: 10rem;
	margin-right: 100px;
	margin-left: 100px;
	padding: 5px;
	
}




.header{
	font-family: "Playfair Display";
}

.audiences{
	font-family: "Playfair Display";

}

.content{
	font-family: "PT Sans";
}


p{
	margin-bottom: 1.5rem;

}

