#nav{
	margin: 0;
	border: 3rem;
	padding: 2rem 1rem 0.5rem 1rem;
	background-color: #7FDBFF;

}

#title{
	color: #FF4136;
}




.header{
	font-family: "Playfair Display";
}

.audiences{
	font-family: "Playfair Display";

}

.content{
	font-family: "PT Sans";
}


p{
	margin-bottom: 1.5rem;

}


.link{
	color: black;
	padding-bottom: 5px;
	margin-left: 5rem;

}

.link:hover{
	border-bottom: 2px solid black;
	border-radius: 0;
	transition: 0.5s;

}